<header>
  <div class="conteiner">
    <span class="conteiner__logo">Головна</span>
    <nav>
      <ul>
        <li><a href="">Неважливо</a></li>
        <li><a href="">Підтримка</a></li>
        <li><a href="">Автор</a></li>
      </ul>
    </nav>
    <div class="conteiner__user-info">
      <span class="user-info_login">Вхід</span>
      <span class="user-info_sign-in">Реєстрація</span>
    </div>
    <div class="conteiner__navbar-toggle">
      <span class="navbar-toggle__line"></span>
      <span class="navbar-toggle__line"></span>
      <span class="navbar-toggle__line"></span>
    </div>
  </div>
</header>