header {
    font-size: 18px;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #1289A7;

    

    .conteiner__logo {
        margin-left: 50px;
        margin-right: 150px;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;

        &:hover {
            animation: bounce 1s ease;
        }
    }

    .conteiner__main-navbar {
        margin: 0 auto;

        .main-navbar__main-info {
            display: flex;
            justify-content: space-around;
            width: 300px;
            list-style-type: none;

            li {
                cursor: pointer;
                height: 50px;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    animation: bounce 1s ease;
                }
            }
        }
    }


    .conteiner__user-info {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-right: 50px;

        span {
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;

            &:hover {
                animation: bounce 1s ease;
            }
        }
    }

    .conteiner__navbar-toggle {
        display: none;
        margin-right: 50px;

        .navbar-toggle__line {
            display: block;
            width: 25px;
            height: 4px;
            background-color: white;
            margin-top: 5px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-15px);
	}

	80% {
		transform: translateY(-10px);
	}
}

